@{
    ViewData["Title"] = "Home Page";
}
@model Survey;
<div class="container border border-primary">
    <div class="Title">
        <h1><ins>Submitted Info</ins></h1>
    </div>
    <div class="content grid my-3">
        <div class="row">
            <div class="col">
                <p>Nombre:</p>
                <p>Localizacion Dojo:</p>
                <p>Lenguaje Favorito:</p>
                <p>Comentario:</p>
            </div>
            <div class="col">
                <p>@Model.Nombre</p>
                <p>@Model.UbicacionDojo</p>
                <p>@Model.FavoriteLanguage</p>
                <p>@Model.Comment</p>
            </div>
        </div>

    </div>
</div>